<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="style.css" />
</head>
<body class="ruleinfo enablelinks">

<h1>{{{ruleName}}} <span class="shortname">{{ruleShortName}}</span></h1>

{{#isConditionallyApplied}}
<div class="conditional-application">
{{{applicationConditionDescription}}}
</div>
{{/isConditionallyApplied}}

<div class="tags">
    <h3>Tags:</h3>
    {{#tags}}
    <div class="tag">{{.}}</div>
    {{/tags}}
</div>

<div class="description">
{{{ruleDescription}}}
{{#ruleWarning}}
    <div class="warning">
    {{{ruleWarning}}}
    </div>
{{/ruleWarning}}
</div>

{{#externalLinks.xa_isNotEmpty}}
<div class="external-links">
    <h3>Read more:</h3>
    {{#externalLinks}}
    <ul class="links">
        <li><a href="{{URL}}">{{linkTitle}}</a></li>
    </ul>
    {{/externalLinks}}
</div>
{{/externalLinks.xa_isNotEmpty}}

</body>

<script src="jquery-1.9.1.min.js"></script>
<script src="fauxpas.js"></script>
